# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse and mvn projects
.settings
target
.classpath
.project
observation-manager/.eclipse-pmd
observation-manager/.factorypath
observation-planner-api/.checkstyle
observation-planner-api/.eclipse-pmd
observation-planner-api/.factorypath


.sts4-cache
