<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="custom-pattern-layout">%highlight{[%d{yyyy.MM.dd HH:mm:ss.SSS}] %-5p [%t] %25c{1.}.%M  - %m%n}</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${custom-pattern-layout}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="console" />
        </Root>

        <Logger name="org.apache.xerces" level="info" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="de.lehmannet.om" level="info" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.xml.sax" level="info" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
    </Loggers>

</Configuration>
