/*
 *  Add here your css styles to customise html export.
 */
 body {
    font-family: 'Arial';
    font-size: 14px;
    vertical-align: top;
    color: #aaa;
    background: #181818;
}

a {
    color: #5786ee;
}
a:visited {
    color: #79b8ff;
}


h1 {
    align-content: center;
}

.sessions {
    border-top-style: solid;
    margin-left: 20px;
}

.sessions ul li {
    font-size: 14px;
    margin: 4px;
    list-style-type: none;
    list-style-position: outside;
    
}

.sessions ul li span:hover {    
    color: #aaa;
    background-color: #353559;
}

.sessions ul li span {

    display: inline-grid;
    min-width: 200px;
   
}

.session {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #202020;
    border-bottom: solid 2px #aaa;
}

.session div {
    margin-left: 10px;

}


.session span.date {
    font-weight: bold;
}


.observation {

    background-color: #121212;
    padding: 40px;
    border: 1px solid;
    width: 90%;
    margin: 5px;
}

.position {
    font-family: Courier;
    color: #aaa;
}

div.position div span {
    display: inline-grid;
    min-width: 50px;
}

div.target {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: left;
}

div.infoTarget {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: left;
}

div.observation div.date {
    padding: 5px;
    text-align: left;
    margin-top: 20px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

div.date div {
    display: inline;

}

.observation .datelabel {
    font-weight: bold;
    display: inline;
}

.optionaldata {
    margin-top: 5px;

}

.optionaldata div span {

    min-width: 100px;
    display: inline-grid;


}

.label {
    font-weight: bold;
    min-width: 150px;
    display: inline-block;
}

.observers {
    margin-top: 10px;
    margin-bottom: 10px;
}

.data {
    border-bottom: 1px dashed #aaa;
    margin-bottom: 10px;
    padding-bottom: 5px;
}


.dataheader {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.datacontent {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.sessions ul li span.targetToObservation {
    min-width: 0px;
}

.targetlist table {
    width: 100%
}

.targetlist table th {
    font-weight: bold;
    background-color: #0a0a0a;

}

.targetlist table tr:nth-child(even) {
    background-color: #2a2a2a;
}


.targetlist table tr td ul li {
    list-style-type: none;
}

.targetlist table tr td:last-child {
    font-size: 13px;

}


/* List in five columns */
.targetlist table tr td ul {
    columns: 4;
    -webkit-columns: 4;
    
}

/* avoid breaking external elements */
.targetlist table tr td ul>li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

div.preformatted {
    white-space: pre;
    font-family: monospace;
}

div.observation div.target a {
    display: inline-block;
}

div.observation div.target a h4 {   
    
    margin-right: 200px;
  }
  
  
  .session div.observations div.observation a h4 {
    
    display: inline-block;
   
  }
  
  .session div.observations div.observation div.infoTarget {
    
    display: block;
    
  }
  
  .session div.observations div.observation a div.date {
  
   display:block;
  }
  
  .session div {  
   display:block;
  }
  
  div.observation {
    display: block;
  }
  
  
  div.observations {
    display: block;
  }
  